body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./imges/istockphoto-1142424263-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.err {
    border: 2px solid red;
}
.steps {
    width: 30%;
} 
h1 {
font-weight: 700;
font-size: 2.5em;
}
.paramain {
    font-weight: 700;
    color: rgb(95, 95, 95);
}
.s1 {
    width: 60%;
    display: flex;
    flex-direction: row;
   gap: 30px;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 30px;
    padding-left: 30px;
} 
.s1 div {
    line-height: 5px;

}
.s1 div p {
    font-weight: 540;
    color: rgb(63, 63, 63);
}
.s1 div h3 {

    color: rgb(49, 49, 49);
}
.s1 button {
    padding: 10px 10px ;
    border: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  
}
.fodiv {
    width: 70%;
    display: flex;
    justify-content: center;
 
}
.fosub {
    width: 50%;
}
form {
width: 100%;

margin-top: 30px;
}
.divIput {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label {
    font-weight: 550;
    padding-bottom: 5px;
}
input {
    height: 30px;
    border: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.bttnn {
    width: 100%;
    direction: rtl;
}
.btnmain {
    padding: 10px 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    font-weight: 600;
    background-color: black;
    color: white;
    margin-top: 30px;
}


@media (min-width:750px) and (max-width:900px) {
    .steps {
        width: 50%;
    } 
}

@media (max-width:750px) {
    
    body { 
        flex-direction: column;
        
    }
    .steps {
        width: 100%;
    } 
    .s1 {
        width: 50%;
        justify-content:space-around;
    } 
    .fodiv {
        width: 100%;
    }
    .fosub {
        width: 90%;
    }
}
@media (max-width:391px) {
    
   
    .steps {
        width: 100%;
    } 
    .s1 {
        width: 70%;
        
    } 
}